<h1>LeaderBoard</h1>

<p>Trash Pick up Stats</p>

<img src='./assets/images/organic_green.jpg'  height="300" alt="organic_green">
<img src='./assets/images/recycle_blue.jpg'  height="300" alt="recycle_blue">
<img src='./assets/images/trash_orange.jpg'  height="300" alt="trash_orange">


<!-- <h1>{{ user$.name }}</h1>

<ul>
  <li><strong>Username:</strong> {{ user$.username }}</li>
  <li><strong>Email:</strong> {{ user$.email }}</li>
  <li><strong>Phone:</strong> {{ user$.phone }}</li>
</ul> -->
