<img src='./assets/images/seattletrash.jpg' height="300" alt="seattle trash">

<!-- <mat-card fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{image.name}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src='./assets/images/seattletrash.jpg' height="300" alt={{image.name}}>
  <mat-card-content>
    <p>{{image.description}}
    </p>
  </mat-card-content>
</mat-card> -->

<h3>Before and After Photo Submission</h3>

<h4> - button - </h4>