<nav>
  <ul>
    <li>
        <a routerLink="" [class.activated]="currentUrl == '/home'">
          <i class="material-icons">home</i>
        </a>
      </li>
    <li>
      <a routerLink="users" [class.activated]="currentUrl == '/users'">
        <i class="material-icons">face</i>
      </a>
    </li>
    <li>
      <a routerLink="tasks" [class.activated]="currentUrl == '/tasks'">
        <i class="material-icons">delete_sweep</i>
      </a>
    </li>
    <li>
      <a routerLink="maps" [class.activated]="currentUrl == '/maps'">
        <i class="material-icons">navigation</i>
      </a>
    </li>
    <li>
      <a routerLink="photos" [class.activated]="currentUrl == '/photos'">
        <i class="material-icons">add_a_photo</i>
      </a>
    </li>
    <li>
      <a routerLink="stats" [class.activated]="currentUrl == '/stats'">
        <i class="material-icons">insert_chart_outlined</i>
      </a>
    </li>
  </ul>
</nav>
